<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 style="text-align:center">This is bugtracker Admin</h1>
<h3 style="text-align:center"th:text="${'Logged in as : '+ #httpServletRequest.remoteUser}">
    static_content
</h3>
<br>
<h3> Add a bug </h3>
<p th:if="${bugadded}">======New Bug Added======</p>
<form action="#" th:action="@{/addbug}" th:object="${bug}" method="post">
    <p>Unique BugName: <input type="text" th:field="*{bugName}" /></p>
    <p>Descriptin: <input type="text" th:field="*{bugDescription}"/></p>
    <p>Assigned user ID: <input type="text" th:field="*{UID}"/></p>
    <p>Bug Status: <input type="text" th:field="*{status}"/></p>
    <p><input type="submit" value="Add Bug" /> <input type="reset" value="Reset" /></p>
</form>

<br>
<h3> Add a user </h3>
<p th:if="${useradded}">======New User Added======</p>
<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <p>User Name: <input type="text" th:field="*{name}" /></p>
    <p>User Password: <input type="text" th:field="*{password}"/></p>
    <p>User Type with "ROLE_" keyword: <input type="text" th:field="*{type}"/></p>
    <p><input type="submit" value="Add user" /> <input type="reset" value="Reset" /></p>
</form>

<br>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<h3> List of all bugs </h3>
<table border="1">
    <thead>
        <tr>
            <td width="20px"><b>Bug Name</b> </td>
            <td><b>Description</b> </td>
            <td><b>UID</b> </td>
            <td><b>Status</b></td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="bug:${allbugs}">
            <td th:text="${bug.bugName}"></td>
            <td th:text="${bug.bugDescription}"></td>
            <td th:text="${bug.UID}"></td>
            <td th:text="${bug.status}"></td>
        </tr>
    </tbody>
</table>
<br>
<form action="/logout" method="get">
    <button name="logout" type="submit">Logout</button>
</form>
</body>
</html>



<!--<form action="/addUser" enctype="application/json" object="${greeting}method = "post">-->
<!--    <label for="userName">Name:</label><br>-->
<!--    <input type="text" id="userName" name="userName"><br>-->
<!--    <label for="userPassword">Password :</label><br>-->
<!--    <input type="text" id="userPassword" name="userPassword"><br>-->
<!--    <label for="userType">Type:</label><br>-->
<!--    <input type="text" id="userType" name="userType"><br>-->
<!--    <input type="submit" value="Add User">-->
<!--</form>-->